<%= simple_form_for @plan,
  wrapper: :horizontal_form,
  html: { class: 'form-horizontal' },
    wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        boolean: :horizontal_boolean
} do |f| %>
    <div class="modal-body">
          <%= f.error_notification %>
          <%= f.input :title, placeholder: 'Titel' %>
          <%= f.input :date_from, as: :bootstrap_datepicker %>
          <%= f.input :published, hint: "hint" %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.button :submit, class: "btn-primary"%>
    </div>
<% end %>

